:root {
  --lightblue:rgb(197, 255, 238);
  --green:rgb(0, 255, 115);
  }
  
  h1{
    color: var(--lightblue);
  }
  
  p{
    color: var(--green)
  }
  
  a:link{
    color:rgb(161, 171, 255);
  }
  
  
  body {
      background-image: url(https://1041uuu.jp/Gallery/c/c28-1.gif);
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: cover;   
    }
    .wrapper {
      display: grid;
      position: relative;
      margin:auto;
      max-width: 1100px;
      grid-template-columns: 20% 50% 30%;
      grid-template-rows: 80px 390px 190px 260px 290px 170px;
      gap: 30px;
      padding: 20px 75px 20px 20px;
    }
    .box {
  
  
      overflow:auto;
      scrollbar-color: rgb(108, 255, 174) rgba(150, 255, 255, 0.5);
      background-color:rgba(150, 255, 255, 0.5);
      border: 1px solid rgba(255, 255, 255, 0.5);
      border-radius: 5px;
      padding: 5px;
      margin: 20px;
  
    }
  
    .header {
      grid-row: 1 / 2;
      grid-column: 1 / 2;
    }
  
    #aboutme { 
      grid-row:2 / 3;
      grid-column: 2 / 3;
      height: auto;
      width: auto;
      align-items: center;
  
    }
  
    #navigation {
      grid-row: 2 / 4;
      grid-column: 1 / 2;
      display:grid;
      width:auto;
      height:auto;
  
    }
  
    #lain {
      grid-row: 2 / 3;
      grid-column: 3 / 5;
      
    }
    
    #musicplayer {
      grid-row: 3/4;
      grid-column: 3 / 4;
      height: fit-content;
    }

